/* 공통 slider 설정 */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  height: 6px;
  background-color: var(--grayscale-100);
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 50px;
}

input[type="range"].readOnly::-webkit-slider-thumb {
  cursor: default;
}

input[type="range"]#taste-slider::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  background-color: var(--main);
}

/* sm (640px 이상) */
@media (min-width: 640px) {
}

/* md (768px 이상) */
@media (min-width: 768px) {
  input[type="range"]#taste-slider::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
  }
}

/* lg (1024px 이상) */
@media (min-width: 1024px) {
}

/* 공통 Tostify 설정 */
.Toastify__toast {
  color: var(--grayscale-800);

  .Toastify__progress-bar {
    background: var(--main);
    background-color: var(--main);
  }

  .Toastify__progress-bar--bg {
    background: var(--main-10);
    background-color: var(--main-10);
  }
}
