/* 공통 slider 설정 */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  height: 6px;
  background-color: var(--grayscale-100);
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 50px;
}

input[type="range"].readOnly::-webkit-slider-thumb {
  cursor: default;
}

input[type="range"]#taste-slider::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  background-color: var(--main);
}

/* sm (640px 이상) */
@media (min-width: 640px) {
}

/* md (768px 이상) */
@media (min-width: 768px) {
  input[type="range"]#taste-slider::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
  }
}

/* lg (1024px 이상) */
@media (min-width: 1024px) {
}

/* 공통 Tostify 설정 */
.Toastify__toast {
  color: var(--grayscale-800);

  .Toastify__progress-bar {
    background: var(--main);
    background-color: var(--main);
  }

  .Toastify__progress-bar--bg {
    background: var(--main-10);
    background-color: var(--main-10);
  }
}

/* button any */
.btn-any {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: var(--main);
}

.btn-any span {
  position: relative;
  z-index: 1;
  transition: color 0.5s ease-in-out;
}

.btn-any:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 500%;
  width: 180%;
  background: var(--main);
  transition: all 0.5s ease-in-out;
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-any:hover span {
  color: white;
}

.btn-any:hover:after {
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
